@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-color: #01012B;
  --middle-color: #02025B;
  --bottom-color: #030391;
}
/* 전체 페이지에서 텍스트 선택 방지 */
* {
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE */
  user-select: none;         /* 표준 */
}

/* 입력창에서는 선택 허용 */
input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Gyeonggi_Batang_Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ownglyph_kimkonghae';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_kimkonghae.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
html:lang(en),
p:lang(en) {
  font-family: 'Kaisei Decol',  sans-serif; /* 기본 영어 글꼴 */
}

html:lang(ko),
p:lang(ko) , input:lang(ko), div:lang(ko){
  font-family: 'Gyeonggi_Batang_Regular' !important; /* 한글 글꼴 */
  font-weight: bold;
}

body {
  background-image: 
    url('/SVG/background.svg'), /* 첫 번째 레이어: SVG */
    linear-gradient(to bottom, #01012B, #02025B, #030391); /* 두 번째 레이어: 그라데이션 */
  background-repeat: no-repeat, no-repeat;
  background-size: cover,cover;
  background-position: center, center;
  color: white; /* 텍스트 색상 */
}

.chat-layout {
  background-image: linear-gradient(
    to bottom,
    var(--top-color),
    var(--middle-color),
    var(--bottom-color)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; /* 텍스트 색상 */
  height: 100vh;
}
/* global.css */
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.skeleton {
  display: inline-block;
}

.text-scroll {
  position: relative;
  display: inline-block;
  animation: scroll-text 4s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
